.best-solution {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &-none {
    display: none;
  }

  &__container {
    position: absolute;
    background-color: rgba(251, 244, 244, 0.852);
    border-radius: 20px;
    width: 550px;
    height: 300px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
  }

  &__right-container {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__button {
    display: flex;
    text-align: center;
    align-items: center;

    height: 30px;
    padding: 10px;

    background-color: rgb(43, 43, 105);
    border: 1px solid white;
    color: white;

    cursor: pointer;

    &:hover {
      color: rgb(43, 43, 105);
      background-color: white;
      border: 1px solid rgb(43, 43, 105);

      transition: 400ms;
    }

    &-cancel {
      position: absolute;
      top: 240px;
      left: 460px;
    }
  }
}