body {
  background-color: rgb(8, 8, 63);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.App-title {
  text-transform: uppercase;
  color: white;
  font-size: 50px;
  animation: animateTitle 2s linear infinite;
}

@keyframes animateTitle {
  0% {
    color: rgb(40, 28, 109);
  }
  33% {
    color: rgb(51, 51, 130);
  }
  66% {
    color: rgb(99, 82, 169);
  }
  100% {
    color: rgb(51, 51, 130);
  }
} 